
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf")  format('truetype'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
  }
  @font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url("../fonts/OpenSans-SemiBoldItalic.ttf")  format('truetype'),
    url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-style: normal;
  }
